// bower:scss
@import "bourbon/app/assets/stylesheets/_bourbon.scss";
@import "components-font-awesome/scss/font-awesome.scss"; // endbower
$color-darkgray: #1D1D1B;
body {
  font-size: 62.5%;
}
//navbar
.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 3;
  .navbar {
    background: $color-darkgray;
    .navlink {
      li {
        list-style: none;
        a {
          color: white;
          text-decoration: none;
          font-size: 0.8rem;
          font-family: "Lato";
          font-weight: 700;
        }
        ul {
          display: none;
          a {
            color: white;
          }
        }
      }
    }
  }
}
//home
.hero-wrapper {
  video.vidBg-fullScreen {
    position: absolute;
  }
  .hero-caption {
    height: 100vh;
    position: relative;
    z-index: 2;
    color: white;
    h1 {
      font-size: 4.4rem;
      font-family: Montserrat;
      font-weight: 700;
    }
  }
}

.content-home-wrapper{
  height: 100vh;
  position: relative;
}
@media screen and (min-width: 768px) {}
