<div class="hero-wrapper">
  <div class="hero-caption" layout="column" layout-align="center center">
    <div>
      <h1>TRANSALDIS</h1>
    </div>
    <div>
      <i class="fa fa-angle-double-down fa-5x"></i>
    </div>
  </div>
  <vid-bg resources="resources" poster="poster" full-screen="fullScreen" muted="muted" z-index="zIndex" play-info="playInfo" pause-play="pausePlay"></vid-bg>
</div>
<div class="content-home-wrapper">
  <div class="introduction" layout="row"  layout-align="center center" layout-padding>
    <div class="presentation" flex>
      <p>
        TRANSALDIS, c'est plus de 22 ans à votre service. Une PME créée en 1993 située dans l’est parisien à MITRY MORY, à proximité de ROISSY CDG et accessible par les grands axes routiers. L’Entreprise, par ses différents métiers développés au sein même de
        son site, est capable de répondre à tous les besoins en transport et logistique de sa Clientèle sur l’ensemble du territoire national. Transporteur et Organisateur de transport, nous offrons un rôle de conseil à la mise en place de prestation dédiée.
      </p>
    </div>
    <div class="citation" flex>
      <blockquote>
        <p>
          <i>
            Il n'y a pas de limite à ce que nous pouvons faire ensemble, chacun de nous transporte en soi le centre de l'univers.
          </i>
          Nancy HUSTON
        </p>
      </blockquote>
    </div>

  </div>
</div>
