<div class="header">
  <div class="navbar" layout="row" layout-padding layout-align="center center">
    <div class="nav-brand" flex="20" flex-offset="10">
      <a href="#"><img src="images/logo_transaldis.png" alt="LogoTransaldis"/></a>
    </div>
    <div class="navlink" layout="row" flex="60" layout-align="end center">
    <li layout-padding>
      <a href="#">SERVICES<i class="fa fa-caret-down" layout-padding aria-hidden="true"></i>
      </a>
      <ul>
        <li>
          <a href="#">Nos solutions</a>
        </li>
        <li>
          <a href="#">Demande de devis</a>
        </li>
        <li>
          <a href="#">Suivi de livraison</a>
        </li>
      </ul>
    </li>
    <li layout-padding>
      <a href="#">ENTREPRISE<i class="fa fa-caret-down" layout-padding aria-hidden="true"></i>
      </a>
      <ul>
        <li>
          <a href="#">Qui sommes nous</a>
        </li>
        <li>
          <a href="#">Nouvelles</a>
        </li>
        <li>
          <a href="#">Médias</a>
        </li>
        <li>
          <a href="#">Emplois</a>
        </li>
      </ul>
    </li>
    <li layout-padding>
      <a href="#">CONTACT<i class="fa fa-caret-down" layout-padding aria-hidden="true"></i>
      </a>
    </li>
  </div>
  <div class="menuhamburger" flex="60">
    <div layout="row" layout-align="end center">
      <i class="fa fa-bars fa-3x" aria-hidden="true" ng-click="toggleSidebar()"></i>
    </div>
  </div>
</div>
</div>
<md-sidenav class="md-sidenav-right md-whiteframe-4dp navbar-colapse" md-component-id="right" layout-padding>
<div layout="column">
  <a href="#">SERVICES<i class="fa fa-caret-down" layout-padding aria-hidden="true"></i>
  </a>
  <a href="#">ENTREPRISE<i class="fa fa-caret-down" layout-padding aria-hidden="true"></i>
  </a>
  <a href="#">CONTACT<i class="fa fa-caret-down" layout-padding aria-hidden="true"></i>
  </a>
</div>
</md-sidenav>
